body {
	text-align: center;
	margin: 0px;
	background-color: #323232;
}

#canvas {
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	margin: 10px;
}

p, label {
	color: white;
}

#controls {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.input-div {
	display: flex;
	align-items: center;
	gap: 4px;
}